@import "colors";

.service-main {
  /* Center everything */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-color: $second;
  border-radius: 200px 200px 200px 200px;

  /* Increase space between components */
  gap: 2rem;

  /* Base styles */

  /* Color scheme */
  $primary-color: #3b82f6;
  $secondary-color: #aaa;
  $text-color: #fff;

  /* Reusable styles */
  .heading {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .padded {
    padding: 10rem;
  }
  .br-1 {
    justify-content: center;
    text-align: center;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Service component styles */
  .service-main {
    max-width: 700px;
    margin: 0 auto;

    @media (max-width: 768px) {
      /* Add responsive styles here */
    }
  }

  .services-title {
    @extend .heading;
    color: $primary-color;

    span.gradient-text {
      background-image: linear-gradient(to right, #8b5cf6, #3b82f6);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  .services-description {
    font-size: 1.25rem;
    color: $secondary-color;
    margin-bottom: 2rem;
  }

  .services-file-upload {
    @extend .flex-center;
  }

  .services-file-input {
    @extend .padded;
    background-color: #222;
    color: $primary-color;
    border-radius: 0.5rem;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 2px dashed $primary-color;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary-color;
      color: $text-color;
      border-color: $text-color;
    }

    svg.services-upload-icon {
      width: 32px;
      height: 32px;
      margin-bottom: 0.5rem;
    }

    span.services-file-text {
      font-size: 1.25rem;
      font-weight: 500;
    }

    input[type="file"].hidden {
      display: none;
    }
  }

  .services-file-info {
    color: $secondary-color;
    font-size: 0.875rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .services-submit-button {
    @extend .flex-center;
    margin-bottom: 2rem;
  }

  .services-predict-button {
    padding: 20px;
    background-color: $primary-color;
    color: $text-color;
    font-weight: bold;
    padding: 0.75rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2563eb;
    }
  }

  .services-result {
    margin-top: 3rem;
    font-size: 1.25rem;
    color: $secondary-color;

    span.services-result-text {
      font-weight: bold;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
